/****** Object:  Database [lms_system]    Script Date: 11/18/2025 11:12:39 AM ******/
CREATE DATABASE [lms_system]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_1', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS, LEDGER = OFF;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[University_ID] [decimal](7, 0) NOT NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[University_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[University_ID] [decimal](7, 0) NOT NULL,
	[Type] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[University_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assessment]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assessment](
	[University_ID] [decimal](7, 0) NOT NULL,
	[Section_ID] [nvarchar](10) NOT NULL,
	[Course_ID] [nvarchar](15) NOT NULL,
	[Semester] [nvarchar](10) NOT NULL,
	[Assessment_ID] [int] IDENTITY(0,1) NOT NULL,
	[Registration_Date] [date] NULL,
	[Potential_Withdrawal_Date] [date] NULL,
	[Status] [nvarchar](50) NULL,
	[Final_Grade] [decimal](4, 2) NULL,
	[Midterm_Grade] [decimal](4, 2) NULL,
	[Quiz_Grade] [decimal](4, 2) NULL,
	[Assignment_Grade] [decimal](4, 2) NULL,
 CONSTRAINT [PK_Assessment] PRIMARY KEY CLUSTERED 
(
	[University_ID] ASC,
	[Section_ID] ASC,
	[Course_ID] ASC,
	[Semester] ASC,
	[Assessment_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assignment]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignment](
	[University_ID] [decimal](7, 0) NOT NULL,
	[Section_ID] [nvarchar](10) NOT NULL,
	[Course_ID] [nvarchar](15) NOT NULL,
	[Semester] [nvarchar](10) NOT NULL,
	[Assessment_ID] [int] NOT NULL,
	[MaxScore] [int] NULL,
	[accepted_specification] [nvarchar](50) NULL,
	[submission_deadline] [datetime] NOT NULL,
	[instructions] [nvarchar](50) NULL,
 CONSTRAINT [PK_Assignment] PRIMARY KEY CLUSTERED 
(
	[University_ID] ASC,
	[Section_ID] ASC,
	[Course_ID] ASC,
	[Semester] ASC,
	[Assessment_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Audit_Log]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audit_Log](
	[LogID] [int] IDENTITY(0,1) NOT NULL,
	[timestamp] [datetime] NOT NULL,
	[affected_entities] [nvarchar](255) NULL,
	[section_creation] [nvarchar](500) NULL,
	[deadline_extensions] [nvarchar](500) NULL,
	[grade_updates] [decimal](2, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Building]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Building](
	[Building_ID] [int] IDENTITY(0,1) NOT NULL,
	[Building_Name] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Building_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Building_Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[Course_ID] [nvarchar](15) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Credit] [int] NULL,
	[Start_Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Course_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Department_Name] [nvarchar](50) NOT NULL,
	[University_ID] [decimal](7, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Department_Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedback] [nvarchar](255) NOT NULL,
	[University_ID] [decimal](7, 0) NOT NULL,
	[Section_ID] [nvarchar](10) NOT NULL,
	[Course_ID] [nvarchar](15) NOT NULL,
	[Semester] [nvarchar](10) NOT NULL,
	[Assessment_ID] [int] NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[feedback] ASC,
	[University_ID] ASC,
	[Section_ID] ASC,
	[Course_ID] ASC,
	[Semester] ASC,
	[Assessment_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Online]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Online](
	[Platform_ID] [int] NOT NULL,
	[Section_ID] [nvarchar](10) NOT NULL,
	[Course_ID] [nvarchar](15) NOT NULL,
	[Semester] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Online] PRIMARY KEY CLUSTERED 
(
	[Platform_ID] ASC,
	[Section_ID] ASC,
	[Course_ID] ASC,
	[Semester] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Platform]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Platform](
	[Platform_ID] [int] IDENTITY(0,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Platform_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Platform_Link]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Platform_Link](
	[Platform_ID] [int] NOT NULL,
	[Link] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Platform_Link] PRIMARY KEY CLUSTERED 
(
	[Platform_ID] ASC,
	[Link] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[University_ID] [decimal](7, 0) NOT NULL,
	[Section_ID] [nvarchar](10) NOT NULL,
	[Course_ID] [nvarchar](15) NOT NULL,
	[Semester] [nvarchar](10) NOT NULL,
	[Assessment_ID] [int] NOT NULL,
	[Grading_method] [nvarchar](50) NULL,
	[pass_score] [decimal](3, 1) NULL,
	[Time_limits] [time](7) NOT NULL,
	[Start_Date] [datetime] NOT NULL,
	[End_Date] [datetime] NOT NULL,
	[Responses] [nvarchar](100) NULL,
	[completion_status] [nvarchar](100) NULL,
	[score] [decimal](4, 2) NULL,
	[content] [nvarchar](100) NOT NULL,
	[types] [nvarchar](50) NULL,
	[Weight] [float] NULL,
	[Correct_answer] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Quiz] PRIMARY KEY CLUSTERED 
(
	[University_ID] ASC,
	[Section_ID] ASC,
	[Course_ID] ASC,
	[Semester] ASC,
	[Assessment_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reference_To]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reference_To](
	[LogID] [int] NOT NULL,
	[University_ID] [decimal](7, 0) NOT NULL,
 CONSTRAINT [PK_Reference] PRIMARY KEY CLUSTERED 
(
	[LogID] ASC,
	[University_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[review]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[review](
	[Submission_No] [int] NOT NULL,
	[University_ID] [decimal](7, 0) NOT NULL,
	[Score] [int] NULL,
	[Comments] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Submission_No] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[Room_ID] [int] IDENTITY(0,1) NOT NULL,
	[Building_ID] [int] NOT NULL,
	[Capacity] [int] NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[Building_ID] ASC,
	[Room_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room_Equipment]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room_Equipment](
	[Equipment_Name] [nvarchar](100) NOT NULL,
	[Building_ID] [int] NOT NULL,
	[Room_ID] [int] NOT NULL,
 CONSTRAINT [PK_Room_Equipment] PRIMARY KEY CLUSTERED 
(
	[Building_ID] ASC,
	[Room_ID] ASC,
	[Equipment_Name] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Section]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section](
	[Section_ID] [nvarchar](10) NOT NULL,
	[Course_ID] [nvarchar](15) NOT NULL,
	[Semester] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Section] PRIMARY KEY CLUSTERED 
(
	[Section_ID] ASC,
	[Course_ID] ASC,
	[Semester] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[University_ID] [decimal](7, 0) NOT NULL,
	[Major] [nvarchar](50) NOT NULL,
	[Current_degree] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[University_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submission]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submission](
	[Submission_No] [int] IDENTITY(0,1) NOT NULL,
	[University_ID] [decimal](7, 0) NOT NULL,
	[Section_ID] [nvarchar](10) NOT NULL,
	[Course_ID] [nvarchar](15) NOT NULL,
	[Semester] [nvarchar](10) NOT NULL,
	[Assessment_ID] [int] NOT NULL,
	[accepted_specification] [nvarchar](50) NULL,
	[late_flag_indicator] [bit] NULL,
	[SubmitDate] [datetime] NULL,
	[attached_files] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Submission_No] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[takes_place]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[takes_place](
	[Section_ID] [nvarchar](10) NOT NULL,
	[Course_ID] [nvarchar](15) NOT NULL,
	[Semester] [nvarchar](10) NOT NULL,
	[Room_ID] [int] NOT NULL,
	[Building_ID] [int] NOT NULL,
 CONSTRAINT [PK_Place] PRIMARY KEY CLUSTERED 
(
	[Section_ID] ASC,
	[Course_ID] ASC,
	[Semester] ASC,
	[Room_ID] ASC,
	[Building_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teaches]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teaches](
	[University_ID] [decimal](7, 0) NOT NULL,
	[Section_ID] [nvarchar](10) NOT NULL,
	[Course_ID] [nvarchar](15) NOT NULL,
	[Semester] [nvarchar](10) NOT NULL,
	[Role_Specification] [nvarchar](50) NULL,
	[Timestamp] [datetime] NULL,
 CONSTRAINT [PK_Teaches] PRIMARY KEY CLUSTERED 
(
	[University_ID] ASC,
	[Section_ID] ASC,
	[Course_ID] ASC,
	[Semester] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutor]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutor](
	[University_ID] [decimal](7, 0) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Academic_Rank] [nvarchar](50) NULL,
	[Details] [nvarchar](100) NULL,
	[Issuance_Date] [date] NULL,
	[Department_Name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[University_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/18/2025 11:12:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[University_ID] [decimal](7, 0) NOT NULL,
	[First_Name] [nvarchar](50) NULL,
	[Last_Name] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Phone_Number] [nvarchar](10) NULL,
	[Address] [nvarchar](50) NULL,
	[National_ID] [nvarchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[University_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[National_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Assessment] ADD  DEFAULT (getdate()) FOR [Registration_Date]
GO
ALTER TABLE [dbo].[Assessment] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Assignment] ADD  DEFAULT ((10)) FOR [MaxScore]
GO
ALTER TABLE [dbo].[Audit_Log] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[Quiz] ADD  DEFAULT ('Highest Attemp') FOR [Grading_method]
GO
ALTER TABLE [dbo].[Quiz] ADD  DEFAULT ((5)) FOR [pass_score]
GO
ALTER TABLE [dbo].[Quiz] ADD  DEFAULT ('Not Taken') FOR [completion_status]
GO
ALTER TABLE [dbo].[Quiz] ADD  DEFAULT ((0)) FOR [score]
GO
ALTER TABLE [dbo].[Room] ADD  DEFAULT ((30)) FOR [Capacity]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT ('Bachelor') FOR [Current_degree]
GO
ALTER TABLE [dbo].[Submission] ADD  DEFAULT ((0)) FOR [late_flag_indicator]
GO
ALTER TABLE [dbo].[Submission] ADD  DEFAULT (getdate()) FOR [SubmitDate]
GO
ALTER TABLE [dbo].[Submission] ADD  DEFAULT ('Submitted') FOR [status]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_User] FOREIGN KEY([University_ID])
REFERENCES [dbo].[Users] ([University_ID])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_User]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_User] FOREIGN KEY([University_ID])
REFERENCES [dbo].[Users] ([University_ID])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_User]
GO
ALTER TABLE [dbo].[Assessment]  WITH CHECK ADD  CONSTRAINT [FK_Assessment_Section] FOREIGN KEY([Section_ID], [Course_ID], [Semester])
REFERENCES [dbo].[Section] ([Section_ID], [Course_ID], [Semester])
GO
ALTER TABLE [dbo].[Assessment] CHECK CONSTRAINT [FK_Assessment_Section]
GO
ALTER TABLE [dbo].[Assessment]  WITH CHECK ADD  CONSTRAINT [FK_Assessment_Student] FOREIGN KEY([University_ID])
REFERENCES [dbo].[Student] ([University_ID])
GO
ALTER TABLE [dbo].[Assessment] CHECK CONSTRAINT [FK_Assessment_Student]
GO
ALTER TABLE [dbo].[Assignment]  WITH CHECK ADD  CONSTRAINT [FK_Assignment_Assessment] FOREIGN KEY([University_ID], [Section_ID], [Course_ID], [Semester], [Assessment_ID])
REFERENCES [dbo].[Assessment] ([University_ID], [Section_ID], [Course_ID], [Semester], [Assessment_ID])
GO
ALTER TABLE [dbo].[Assignment] CHECK CONSTRAINT [FK_Assignment_Assessment]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Tutor_Chair] FOREIGN KEY([University_ID])
REFERENCES [dbo].[Tutor] ([University_ID])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Tutor_Chair]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Assessment] FOREIGN KEY([University_ID], [Section_ID], [Course_ID], [Semester], [Assessment_ID])
REFERENCES [dbo].[Assessment] ([University_ID], [Section_ID], [Course_ID], [Semester], [Assessment_ID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Assessment]
GO
ALTER TABLE [dbo].[Online]  WITH CHECK ADD  CONSTRAINT [FK_Online_Platform] FOREIGN KEY([Platform_ID])
REFERENCES [dbo].[Platform] ([Platform_ID])
GO
ALTER TABLE [dbo].[Online] CHECK CONSTRAINT [FK_Online_Platform]
GO
ALTER TABLE [dbo].[Online]  WITH CHECK ADD  CONSTRAINT [FK_Online_Section] FOREIGN KEY([Section_ID], [Course_ID], [Semester])
REFERENCES [dbo].[Section] ([Section_ID], [Course_ID], [Semester])
GO
ALTER TABLE [dbo].[Online] CHECK CONSTRAINT [FK_Online_Section]
GO
ALTER TABLE [dbo].[Platform_Link]  WITH CHECK ADD  CONSTRAINT [FK_Link_Platform] FOREIGN KEY([Platform_ID])
REFERENCES [dbo].[Platform] ([Platform_ID])
GO
ALTER TABLE [dbo].[Platform_Link] CHECK CONSTRAINT [FK_Link_Platform]
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_Assessment] FOREIGN KEY([University_ID], [Section_ID], [Course_ID], [Semester], [Assessment_ID])
REFERENCES [dbo].[Assessment] ([University_ID], [Section_ID], [Course_ID], [Semester], [Assessment_ID])
GO
ALTER TABLE [dbo].[Quiz] CHECK CONSTRAINT [FK_Quiz_Assessment]
GO
ALTER TABLE [dbo].[Reference_To]  WITH CHECK ADD  CONSTRAINT [FK_Reference_Log] FOREIGN KEY([LogID])
REFERENCES [dbo].[Audit_Log] ([LogID])
GO
ALTER TABLE [dbo].[Reference_To] CHECK CONSTRAINT [FK_Reference_Log]
GO
ALTER TABLE [dbo].[Reference_To]  WITH CHECK ADD  CONSTRAINT [FK_Reference_User] FOREIGN KEY([University_ID])
REFERENCES [dbo].[Users] ([University_ID])
GO
ALTER TABLE [dbo].[Reference_To] CHECK CONSTRAINT [FK_Reference_User]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Submission] FOREIGN KEY([Submission_No])
REFERENCES [dbo].[Submission] ([Submission_No])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [FK_Review_Submission]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Tutor] FOREIGN KEY([University_ID])
REFERENCES [dbo].[Tutor] ([University_ID])
GO
ALTER TABLE [dbo].[review] CHECK CONSTRAINT [FK_Review_Tutor]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_Room_Building] FOREIGN KEY([Building_ID])
REFERENCES [dbo].[Building] ([Building_ID])
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_Room_Building]
GO
ALTER TABLE [dbo].[Room_Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_Room] FOREIGN KEY([Building_ID], [Room_ID])
REFERENCES [dbo].[Room] ([Building_ID], [Room_ID])
GO
ALTER TABLE [dbo].[Room_Equipment] CHECK CONSTRAINT [FK_Equipment_Room]
GO
ALTER TABLE [dbo].[Section]  WITH CHECK ADD  CONSTRAINT [FK_Section_Course] FOREIGN KEY([Course_ID])
REFERENCES [dbo].[Course] ([Course_ID])
GO
ALTER TABLE [dbo].[Section] CHECK CONSTRAINT [FK_Section_Course]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_User] FOREIGN KEY([University_ID])
REFERENCES [dbo].[Users] ([University_ID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_User]
GO
ALTER TABLE [dbo].[Submission]  WITH CHECK ADD  CONSTRAINT [FK_Submission_Assignment] FOREIGN KEY([University_ID], [Section_ID], [Course_ID], [Semester], [Assessment_ID])
REFERENCES [dbo].[Assignment] ([University_ID], [Section_ID], [Course_ID], [Semester], [Assessment_ID])
GO
ALTER TABLE [dbo].[Submission] CHECK CONSTRAINT [FK_Submission_Assignment]
GO
ALTER TABLE [dbo].[takes_place]  WITH CHECK ADD  CONSTRAINT [FK_Place_Room] FOREIGN KEY([Building_ID], [Room_ID])
REFERENCES [dbo].[Room] ([Building_ID], [Room_ID])
GO
ALTER TABLE [dbo].[takes_place] CHECK CONSTRAINT [FK_Place_Room]
GO
ALTER TABLE [dbo].[takes_place]  WITH CHECK ADD  CONSTRAINT [FK_Place_Section] FOREIGN KEY([Section_ID], [Course_ID], [Semester])
REFERENCES [dbo].[Section] ([Section_ID], [Course_ID], [Semester])
GO
ALTER TABLE [dbo].[takes_place] CHECK CONSTRAINT [FK_Place_Section]
GO
ALTER TABLE [dbo].[Teaches]  WITH CHECK ADD  CONSTRAINT [FK_Teaches_Section] FOREIGN KEY([Section_ID], [Course_ID], [Semester])
REFERENCES [dbo].[Section] ([Section_ID], [Course_ID], [Semester])
GO
ALTER TABLE [dbo].[Teaches] CHECK CONSTRAINT [FK_Teaches_Section]
GO
ALTER TABLE [dbo].[Teaches]  WITH CHECK ADD  CONSTRAINT [FK_Teaches_Tutor] FOREIGN KEY([University_ID])
REFERENCES [dbo].[Tutor] ([University_ID])
GO
ALTER TABLE [dbo].[Teaches] CHECK CONSTRAINT [FK_Teaches_Tutor]
GO
ALTER TABLE [dbo].[Tutor]  WITH CHECK ADD  CONSTRAINT [FK_Tutor_Department] FOREIGN KEY([Department_Name])
REFERENCES [dbo].[Department] ([Department_Name])
GO
ALTER TABLE [dbo].[Tutor] CHECK CONSTRAINT [FK_Tutor_Department]
GO
ALTER TABLE [dbo].[Tutor]  WITH CHECK ADD  CONSTRAINT [FK_Tutor_User] FOREIGN KEY([University_ID])
REFERENCES [dbo].[Users] ([University_ID])
GO
ALTER TABLE [dbo].[Tutor] CHECK CONSTRAINT [FK_Tutor_User]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD CHECK  (([Type]='Program Administrator' OR [Type]='Office of Student Affairs' OR [Type]='Office of Academic Affairs' OR [Type]='Coordinator'))
GO
ALTER TABLE [dbo].[Assessment]  WITH CHECK ADD CHECK  (([Assignment_Grade]>=(0) AND [Assignment_Grade]<=(10)))
GO
ALTER TABLE [dbo].[Assessment]  WITH CHECK ADD CHECK  (([Final_Grade]>=(0) AND [Final_Grade]<=(13)))
GO
ALTER TABLE [dbo].[Assessment]  WITH CHECK ADD CHECK  (([Midterm_Grade]>=(0) AND [Midterm_Grade]<=(13)))
GO
ALTER TABLE [dbo].[Assessment]  WITH CHECK ADD CHECK  (([Quiz_Grade]>=(0) AND [Quiz_Grade]<=(10)))
GO
ALTER TABLE [dbo].[Assessment]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Rejected' OR [Status]='Approved' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Assessment]  WITH CHECK ADD  CONSTRAINT [CK_Assessment_Dates] CHECK  (([Registration_Date]<=[Potential_Withdrawal_Date]))
GO
ALTER TABLE [dbo].[Assessment] CHECK CONSTRAINT [CK_Assessment_Dates]
GO
ALTER TABLE [dbo].[Assignment]  WITH CHECK ADD CHECK  (([MaxScore]>=(0) AND [MaxScore]<=(10)))
GO
ALTER TABLE [dbo].[Audit_Log]  WITH CHECK ADD CHECK  (([grade_updates]>=(0) AND [grade_updates]<=(10)))
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD CHECK  (([Credit]>=(0) AND [Credit]<=(10)))
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD CHECK  (([completion_status]='Failed' OR [completion_status]='Passed' OR [completion_status]='Submitted' OR [completion_status]='In Progress' OR [completion_status]='Not Taken'))
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD CHECK  (([Grading_method]='Last Attemp' OR [Grading_method]='Highest Attemp'))
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD CHECK  (([pass_score]>=(0) AND [pass_score]<=(10)))
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD CHECK  (([score]>=(0) AND [score]<=(10)))
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD CHECK  (([Weight]>=(0)))
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD  CONSTRAINT [CK_Quiz_Dates] CHECK  (([Start_Date]<[End_Date]))
GO
ALTER TABLE [dbo].[Quiz] CHECK CONSTRAINT [CK_Quiz_Dates]
GO
ALTER TABLE [dbo].[review]  WITH CHECK ADD CHECK  (([Score]>=(0) AND [Score]<=(10)))
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD CHECK  (([Capacity]>=(1) AND [Capacity]<=(300)))
GO
ALTER TABLE [dbo].[Submission]  WITH CHECK ADD CHECK  (([status]='Submitted' OR [status]='No Submission'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  ((len([National_ID])=(12)))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  ((len([Phone_Number])=(10) OR len([Phone_Number])=(11)))
GO
